<!-- Start header component -->
<app-header></app-header>
<!-- End header component -->
<!-- Start content -->
<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-center">
               <h1>Historical Consumption</h1>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-right">
        <app-historicalmodal action="create" (passData)="Action($event, 'create')"></app-historicalmodal>
      </div>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <table class="table table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">_id</th>
            <th scope="col">Paciente</th>
            <th scope="col">producto</th>
            <th scope="col">cantidad</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let historical of Historical">
            <th scope="row">{{ historical._id }}</th>
            <td>{{ historical.paciente }}</td>
            <td>{{ historical.producto }}</td>
            <td>{{ historical.cantidad }}</td>
            <td>
              <app-historicalmodal action="view" [historical]="historical" (passData)="Action($event)"></app-historicalmodal>
              <app-historicalmodal action="edit" [historical]="historical" (passData)="Action($event, 'edit')"></app-historicalmodal>
              <button class="btn btn-danger btn-sm" (click)="DeleteHistoricalConsumption(historical)">
                <i class="far fa-times-circle"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--
  <form id="createhistoricalform" name="createhistoricalform" #createhistoricalform="ngForm" (ngSubmit)="createhistoricalform.form.valid && createHistoricalConsumption()" novalidate>
            <div class="row">
                <div class="form-group col-md-6">
                  <label>*Paciente:</label>
                  <input type="text" class="form-control form-control-line" name="paciente" [(ngModel)]="createHistorical.paciente" #paciente="ngModel">
                </div>
                <div class="form-group col-md-6">
                  <label>*Edad:</label>
                  <input type="number" class="form-control form-control-line" name="edad" [(ngModel)]="createHistorical.edad" #edad="ngModel">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>*Sexo:</label>
                  <select class="form-control form-control-line"
                          name="sexo"
                          [(ngModel)]="createHistorical.sexo"
                          #sexo="ngModel"
                          required>
                    <option value="">--Seleccione--</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label>*Procedimiento:</label>
                  <input type="text" class="form-control form-control-line" name="procedimiento" [(ngModel)]="createHistorical.procedimiento" #procedimiento="ngModel">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>*Producto:</label>
                  <input type="text" class="form-control form-control-line" name="producto" [(ngModel)]="createHistorical.producto" #producto="ngModel">
                </div>
                <div class="form-group col-md-6">
                  <label>*Cantidad:</label>
                  <input type="number" class="form-control form-control-line" name="cantidad" [(ngModel)]="createHistorical.cantidad" #cantidad="ngModel">
                </div>
              </div>


              <button  type="submit" class="btn btn-info" >Crear</button>
              <button
                type="button"
                class="btn btn-secondary pull-left"
                (click)="c('Close click')">Cerrar</button>

  </form>
  -->
</div>
<!-- End content -->

